---
layout: base
templateEngineOverride: liquid
title: Bibliography
permalink: /bibliography/
---

<h2>Publications</h2>

<div class="projects">
        {% assign publications = collections.publications | map: "data" | sort: 'year' | reverse %}

				{%- for pub in publications -%}

					{%bibtex%}@{{pub.type}}{% raw %}{{% endraw %}{{pub.pubkey}},
						author = "{{pub.author}}",
						title = "{{pub.title}}",
						{%if pub.booktitle %}
						booktitle = "{{pub.booktitle}}",
						{% endif %}
						{%if pub.editor %}
						editor = "{{pub.editor}}",
						{% endif %}
						{%if pub.booktitle %}
						pages = "{{pub.pages}}",
						{% endif %}
						{%if pub.journal %}
						journal = "{{pub.journal}}",
						{% endif %}
						{%if pub.volume %}
						volume = "{{pub.volume}}",
						{% endif %}
						{% if pub.url %}
						url = "{{pub.url}}",
						{% endif %}
						year = "{{pub.year}}"
						{% raw %}}{% endraw %}{%endbibtex%}



					{% endfor %}

</div>
