---
layout: base
templateEngineOverride: liquid
title: Bibliography
permalink: /bibliography/
pagination:
  data: collections.publications
  reverse: true
  alias: bibliography
  size: 100
  
---

<h2>Publications</h2>

<div class="projects">
				
				{%- for post in pagination.items -%}


					{%bibtex%}@{{post.data.type}}{% raw %}{{% endraw %}{{post.data.pubkey}},
						author = "{{post.data.author}}",
						title = "{{post.data.title}}",
						{%if post.data.booktitle %}
						booktitle = "{{post.data.booktitle}}",
						{% endif %}
						{%if post.data.editor %}
						editor = "{{post.data.editor}}",
						{% endif %}
						{%if post.data.booktitle %}
						pages = "{{post.data.pages}}",
						{% endif %}
						{%if post.data.journal %}
						journal = "{{post.data.journal}}",
						{% endif %}
						{%if post.data.volume %}
						volume = "{{post.data.volume}}",
						{% endif %}
						{% if post.data.url %}
						url = "{{post.data.url}}",
						{% endif %}
						year = "{{post.data.year}}"
						{% raw %}}{% endraw %}{%endbibtex%}
					


					{% endfor %}

</div>