---
layout: base
eleventyNavigation:
  key: News
  order: 7
pagination:
  data: collections.news
  size: 20
  alias: news
  reverse: true
  permalink: "news/{% if pagination.pageNumber != 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---

{%- set comma = joiner(", ") -%}

<h2>News</h2>

  {%- for post in collections.news -%}

      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>

<p><em>{{ post.date | postDate}}</em></p>
      {% if post.data.teaser %}
        <p>{{ post.data.teaser }}</p>
      {% endif %} 
  {%- endfor -%}