---
layout: base
eleventyNavigation:
  key: News
  order: 3
pagination:
  data: collections.news
  size: 10
  alias: news
  reverse: true
  permalink: news/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}/
---
<h2>News</h2>

  {%- for post in news -%}

      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>

<p>{{ post.date | postDate}}</p>


      {% if post.data.teaser %}
        <p>{{ post.data.teaser }} <a href="{{ post.url | url }}">Read more.</a></p>
      {% endif %} 
  {%- endfor -%} 