---
meta:
  lang: en
  title: Stanford Literary Lab
  image: "/assets/images/open-graph/teaser.jpeg"
  description: "The Stanford Literary Lab is a research collective that applies computational criticism, in all its forms, to the study of literature."
layout: base
eleventyNavigation:
  key: Home
---


<div class="row align-items-md-stretch">

<p>The Stanford Literary Lab is a research collective that applies computational criticism, in all its forms, to the study of literature. <a href="/about">Learn more about the Lab.</a></p>



  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #9d1c32; color: #ffffff;">
      <h2>Projects</h2>
      <p>
        Our projects cover a broad range of time periods, genres, languages, and media, based on our members' wide-ranging interests.
      </p>
      <a href="{{ '/projects ' | url }}" class="btn btn-outline-dark">See our projects</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #F8F0E3">
      <h2>Pamphlets</h2>
      <p>
        Our long-running pamphlet series has served as a model for digital humanities publication across the field of computational literary study.
      </p>
      <a href="{{ '/pamphlets ' | url }}" class="btn btn-outline-dark">Read our latest work</a>
      </div>
      </div>

      <div class="col-md-12 mt-6">
        <h2>Updates</h2>
      {% set latest_posts = collections.posts %}
{% for post in latest_posts.slice(0,4) %}
<p><a href="{{ post.url | url }}">{{ post.data.title }}</a></p>
{% endfor %}
</div>
    </div>
      


<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
